<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wyprowadz mnie</title>
    <link rel="stylesheet" href="css/homepage.css">
    <link rel="Shortcut icon" href="image/logo.svg"> 
    <meta name="description" content="Wyprowadź mnie: platforma z lokalnymi ogłoszeniami, pomagająca osobom bez możliwości wyjścia z domu w opiece nad ich pupilami."/> 
    <meta name="keywords" content="opieka, pies"/>
    <meta name="author" content="Wyprowadzmnie.com" />
    <meta name="copyright" content="Wyprowadz mnie ©2021" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="navigation">
                <img class="navigation__logo" src="image/pies.svg" alt="Logo wyprowadź mnie">
                <div class="navigation__buttons">
                    <a href="/register"><button class="navigation__buttons--left">Rejestracja</button></a>
                    <a href="/login"><button class="navigation__buttons--right">Logowanie</button></a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <article>
                <section>
                    <div class="box">
                        <div class="box__left">
                            <img class="box__left--img" alt="Zdjecie spaceru z psem" src="image/dogwalking.svg">
                        </div>
                        <div class="box__right">
                            <h1 class="box__right--headline">Nie pozwól mu czekać</h1>
                            <p>wyprowadzmnie.com  jest internetową platformą, pomagającą osobom bez możliwości wyjścia z domu lub wygospodarowania czasu na wyjście ze swoim pupilem. Nasz serwis umożliwia wystawienie ogłoszenia z zapotrzebowaniem oraz znalezieniu osoby, która podjęłaby się pomocy.</p>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="box margin">
                        <div class="box__right">
                            <h1 class="box__right--headline">Krok po kroku</h1>
                            <div class="box__right--guide"><h2 class="box__right--number">1</h2><p> Utwórz konto w naszym serwisie oraz uzupełnij wszystkie niezbędne dane. </p></div>
                            <div class="box__right--guide"><h2 class="box__right--number">2</h2><p> Dodaj ogłoszenie wraz z danymi pupila oraz z datą kiedy ma ono obowiązywać </p></div>
                            <div class="box__right--guide"><h2 class="box__right--number">3</h2><p> Czekaj aż pomocnicy sami się zgłoszą. </p></div>
                        </div>
                        <div class="box__left">
                            <img class="box__left--img" alt="Zdjecie spaceru z psem" id="scroll" src="image/path.svg">
                        </div>
                    </div>
                </section>
                <article>
                    <div class="information margin">
                        <img alt="Pies który czeka na spacer" src="image/dog.svg" class="information__image">
                        <h2>Idea aplikacji</h2>
                        <p>Aplikacja powstała w odpowiedzi na panującą pandemię Sars-Cov-2, która uziemiła wielu, szczególnie starszych ludzi w domach. Niestety czworonogi same się nie wyprowadzą, a jeżeli ich właściciele nie mają możliwości, to muszą szukać nowych tymczasowych opiekunów.</p>
                    </div>
                </article>
            </article>
        </div>
    </main>
    <footer>
        <div class="footer">
                <div class="footer__text">
                    <h2 class="footer__text--headline"><a href="#">Kontakt</a> | <a href="/terms">Regulamin</a></h2>
                </div>
        </div>
    </footer>
    <div class="scrollup" id="arrow"><i class="fas fa-arrow-up"></i></div>
    <script src="js/scroll.js"></script>
</body>
</html>
