<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wyprowadz mnie - Ogłoszenie zaakcptowane</title>
    <link rel="Shortcut icon" href="logo.SVG"> 
    <link rel="stylesheet" href="css/offerConfirmed.css">
</head>
<body>
    
    <div class="main">
        
        <div class="div1">
            <a href="/"><img alt="Logo Wyprowadź mnie" src="/image/logo.svg"/></a>
            <h1>POTWIERDZENIE</h1>
            <p>Po kliknięciu poniższego przycisku, zaakceptujesz ofertę i zostaniesz przekierowany do czatu ze zleceniodawcą.</p>
            <a href="/chat/<%=id%>/new"><button class="accept">Akceptuje ofertę</button></a>
            <a href="/offers"><button class="decline">Wróć do ofert</button></a>
        </div>
    </div>
</body>
</html>
