<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wyprowadz mnie | Restart Hasła</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="Shortcut icon" href="image/logo.svg"> 
    <meta name="description" content="X"/> <!-- Do zrobienia -->
    <meta name="keywords" content="słowo_kluczowe 1, słowo_kluczowe 2"/>
    <meta name="author" content="Author name" />
    <meta name="copyright" content="Copyright owner" /> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
</head>
<body>
            <% if (message.length > 0){ %>
            <div class="notification--green"">
                <h3><%= message %></h3>
            </div>
            <%}%>
    <main>
            <div class="login">
                <h1 class="login__headline">wyprowadźmnie.com</h1>
                <form action="/resetpass" method="POST" class="login__input">
                    <a href="/"><img alt="Logo wyprowadź mnie" src="image/pies.svg" class="login__input--logo"></a>
                        <h2 class="login__input--headline margin">Nie pamiętam hasła</h2>
                        <p class="rhaslo__p">Podaj swój adres e-mail na który wyślemy link. Po wejściu w niego, możliwa będzie zmiana hasła</p>
                        <input class="login__input--email" placeholder="Wprowadź tutaj swój email" name="email" required> 
                    <button class="login__input--button" type="submit">Wyślij</button>
                </form>
            </div>
            <a href="/login" class="login__forgot"><h3>Zaloguj się</h3></a>
    </main>
    <script src="js/notification.js"></script>
</body>
</html>
