<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div style="margin:0 auto;font-family:Helvetica,sans-serif;color:#333333;text-align:center;max-width:520px;padding:0 20px">
        <div style="text-align:center;padding:75px 0">
            <img alt="Wyprowadź mnie" src="https://i.imgur.com/bk0WBWJ.png" class="CToWUd"  height="75px">
        </div>
        <div style="font-size:16px;text-align:center">
            <div style="line-height:150%">
                    <div style="font-size:20px">Witamy w gronie użytkowników!
                </div>
            
                <div style="margin:15px 0">
                    Dziękujemy za rejestracje w naszym serwisie. Żeby aktywować swoje konto, należy potwierdzić adres email. W tym celu nacisnij przycisk poniżej.
                </div>
            
            </div>
            <div>
                <a href="<%=url%>" style="background:#72F69A;padding:9px;width:200px;color:#1d2e28;text-decoration:none;display:inline-block;font-weight:bold;text-align:center;letter-spacing:0.5px;border-radius:4px" target="_blank" >Potwierdź adres email</a>
            </div>
            <div style="line-height:150%">
                <div style="color:#828282;margin:15px 0 75px">
                Wyprowadź mnie
                </div>
        
            </div>
        </div>
        </div>
</body>
</html>